<%= simple_form_for @project, :html => { :class => 'form-horizontal' } do |f| %>

  <%= f.input :name %>
  <%= f.association :tasks, collection: Task.all.where(project_id: @project.id) %>
  <%= link_to 'Add new task', new_task_path,:class => 'btn btn-default  new-task-btn' %>
  <%= link_to 'Delete task', tasks_path,:class => 'btn btn-default  new-task-btn' %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                projects_path, :class => 'btn' %>
  </div>
<% end %>
