<%- model_class = Project -%>  
<% @projects.each do |project| %>
<script type="text/javascript">
$(document).ready(function(){
  $(".navbar-header<%= project.id %>").click(function(){
    alert('Last time project was updated at:\n <%= project.created_at %>');
  });
  $('#addTask<%= project.id %>').click(function(){
    $(this).attr('href', $(this).attr('href') + $('.form-control<%= project.id %>').val());
  });
  // console.log("<%= @priority %>,<%= @effect %>")
})
</script>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header navbar-header<%= project.id %>">
      <a class="navbar-brand" href="#"><%= project.name %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to '', edit_project_path(project), :class => 'edit-btn' %></li>
        <li><%= link_to '',
                      project_path(project),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn-delete' %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="input-group">
      <img src="/assets/green-plus.png">
      <%= text_field :task, :name, :class => 'form-control form-control'+project.id.to_s %>
      <span class="input-group-btn">
        <%= link_to 'Add Task', new_task_path(projectId: project.id, taskName: ""),:class => "btn btn-success", id:"addTask"+project.id.to_s %>
        <!-- <button class="btn btn-default" type="button">Add Task</button> -->
      </span>
    </div><!-- /input-group -->
  </div>
</div>
<table class="table table<%= project.id %> table-bordered table-hover">
    <% Task.where(project_id: project.id).order(:done).order(:priority).each do |task| %>
    <script type="text/javascript">
    $(document).ready(function(){
      $(".<%= task.id %>").hover(
        function() {  $(".task-btns<%= task.id %>").css('visibility','visible');   },
        function() {  $(".task-btns<%= task.id %>").css('visibility','hidden');   }
      );
    });
    </script>
      <% if task.deadline.past? && !task.done %>
        <tr class="<%= task.id %> red">
            <td width="20"><i class='icon-exclamation-sign'></i></td>
      <% else %>
        <tr class="<%= task.id %>">
            <td width="20"><%= best_in_place task, :done, type: :checkbox,  collection: [raw("<i class='icon-check-empty'></i>"), raw("<i class='icon-check'></i>")], remote: true %></td>
            <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
      <% end %>
        <td><%= task.name %></td>
        <td width="110">
          <div class="task-btns task-btns<%= task.id %>">
            <div class="arrows">
              <%= link_to "", projects_path(task: task.id, priority: task.priority, effect: 'up'), :class => 'priority-arrows', name: "upper" %>
              <%= link_to "", projects_path(task: task.id, priority: task.priority, effect: 'down'), :class => 'priority-arrows', name: "lower" %>
            </div>
            <%= link_to "", edit_task_path(task), :class => 'task-edit' %>
            <%= link_to "", task_path(task),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'task-delete' %>
          </div>
        </td>
      </tr>
    <% end %>
</table>
<% end %>

<%= link_to 'Add TODO List',
            new_project_path,
            :class => 'btn btn-primary new-proj' %>
            <footer><p>©Ruby Garage</p></footer>